# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load csv (Remember to change these)PyBer_ride_data.csv
pyber_ride_df = pd.read_csv("Resources/PyBer_ride_data.csv")
pyber_ride_df
pyber_city_df = pd.read_csv("Resources/PyBer_city_data.csv")
pyber_city_df

#city_data_to_load = "city_data.csv"
#ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
#city_data_df = pd.read_csv(pyber_city_df)
#ride_data_df = pd.read_csv(pyber_ride_df)

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(pyber_ride_df, pyber_city_df, how="left", on=["city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#Create the Urban city DateFrame
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [4]:
#Create the Suburban city DateFrame
suburban_cities_df= pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [10]:
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural

In [ ]:
#  1. Get the total rides for each city type
total_rides_city_df = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides_city_df.head()

In [ ]:
#suburban_ride_count =suburban_cities_df.groupby(["city"]).count() ["ride_id"]
#suburban_ride_count.head()

In [ ]:
#rural_ride_count = rural_cities_df.groupby(["city"]).count() ["ride_id"]
#rural_ride_count.head()

In [ ]:
# 2. Get the total drivers for each city type
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.head()

In [ ]:
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.head()

In [ ]:
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.head()

In [ ]:
#  3. Get the total amount of fares for each city type
urban_total_fare = urban_cities_df.groupby(["city"]).count() ["fare"]
urban_total_fare.head()

In [ ]:
#3b. Get the total amount of fares for each city typeSuburban_avg_fare = urban_cities_df.groupby(["city"]).count() ["fare"]
suburban_total_fare = urban_cities_df.groupby(["city"]).count() ["fare"]
suburban_total_fare.head()

In [ ]:
#3c. Get the total amount of fares for each city typeSuburban_avg_fare = urban_cities_df.groupby(["city"]).count() ["fare"]
rural_total_fare = urban_cities_df.groupby(["city"]).count() ["fare"]
rural_total_fare.head()

In [ ]:
#  4a. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby["city"].mean()["fare"]
urban_avg_fare.head()

In [ ]:
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare.head()

In [ ]:
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare.head()

In [ ]:
#  4a. Get the average fare per ride for each city type. 
urban_avg_fare = urban_cities_df.groupby(["city"]).mean()["fare"]
urban_avg_fare.head()
suburban_avg_fare = suburban_cities_df.groupby(["city"]).mean()["fare"]
suburban_avg_fare.head()
rural_avg_fare = rural_cities_df.groupby(["city"]).mean()["fare"]
rural_avg_fare.head()

In [ ]:
#5 Get the average number of drivers for each city. 
urban_driver_count = urban_cities_df.groupby(["city"]).mean()["driver_count"]
urban_driver_count.head()

suburban_driver_count = suburban_cities_df.groupby(["city"]).mean()["driver_count"]
suburban_driver_count.head()

rural_driver_count = rural_cities_df.groupby(["city"]).mean()["driver_count"]
rural_driver_count.head()

In [ ]:
#  6. Create a PyBer summary DataFrame. 
# Combine the data into a single dataset
pyber_summary_df = pd.DataFrame = {[
              "Total Rides": total_rides_city_df
]}

# Display the data table for preview
pyber_data_df.head()

pyber_summary_df = pyber_data_df[pyber_data_df['type == "Urban","Suburban","Rural"]
pyber_summary_df = pyber_data_df[pyber_data_df['type'] == "total Ride"]
pyer_summary_df = pyber_data_df[pyber_data_df['type'] == "total drivers"]
pyber_summary_df = pyber_data_df[pyber_data_df['type'] == "total fares"]
pyber_summary_df = pyber_data_df[pyber_data_df['type'] == "Average Fare per Ride"]
pyber_summary_df = pyber_data_df[pyber_data_df['type'] == "Average Fare per Drive"]

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] = pyber_summary_df["total rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] = pyber_summary_df["Total Drivers".map("{:,}".format)
pyber_summary_df["Total Fare"] = pyber_summary_df["Total Fare"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] = pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format) 
pyber_summary_df["Average Fare per Drive"] = pyber_summary_df["Average Fare per Drive"].map("${:,2f}".format)

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame (use groupby(), and summ())

pyber_data_df.head()

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date._df = 
total_fare_per_day = pyber_data_df[type,date].sum ('fare']

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
total_fare_per_day_df = total_fares_per_day.reset_index()
total_fare_per_day_df.head()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
fares_type_data_pivot = fare_by_type_date_df.pivot(index = "date, colunm = "type", values = "fare")

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
jan_to_apr_df = fares_type_date_pivot.loc['2019-01-01':'2019-04-29']

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
jan_to_apr.df.info()

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
jan_to_apr_df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
jan_apr_month_df = jan_to_apr_df.resample("W").sum()

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

ax = jan_to_apr_month_df.plot(figsize = (15,6))

#Add y_axis label
ax.set_ylabel("Fare ($USD)")

#Remove x-axis label

x_axis = ax.axes.get_xxis()
x_label = x_axis.get_label()
x_label.set_visible_label(False)

#Add Title
ax.set_title("Total Fare by City Type")

#Legend formatting
lngd = plt.legend(loc = "center", title = 'title')

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')

#Save the figure
plt.savefig("analysis?Pybar_fare_summary.png")

plt.show